* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    max-width: 1000px;
}
h1 {
    color: #ff6600;
}
h2 {
    font-size: 14px;
}
p {
    font-size: 12px;
    max-width: 800px;
    background-color: #6495ed;
    color: aliceblue;
    display: block;
    margin: 0 auto;
}
#flexTest {
    height: 600px;
    max-width: 1000px;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
#flexTest img {
    border-bottom: 2px;
    border-color: red;
    border-style: solid;

}
.textTest {
    text-indent: 5%;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    word-spacing: 3px;
    color: rgb(255, 33, 114);
    font-weight: 500;
}
#box_center_01 {
    border: solid #50ff38;
    width: 10em;
    height: 10em;
    margin: 0 auto;
    background-color: #ff2c42;
}
#box_center_01 {
    border: solid #50ff38;
    width: 10em;
    height: 10em;
    margin: auto;
}
  #box_flex {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
  }
#box_center_02 {
    border: solid #fbff3e;
    width: 10em;
    height: 10em;

}
#box_align {
    text-align: center;
}
#box_center_03 {
    display: inline-block;
    border: solid #fbff3e;
    width: 10em;
    height: 10em;
}
#div_center_flex {
    display: flex;
    display: -webkit-flex;
    align-items: center; /* 垂直居中*/
    -webkit-align-items:  center;
    justify-content: center; /*水平居中*/
    -webkit-justify-content: center;
}
#div_center_test {
    border:1px solid #ccc;
    background-color: #ff2c42;
    height: 10em;
    width: 10em;
}