* {
    line-height: 1.5;
}
/*首页*/
header {
    width: 100%;
    height: 80px;
    background-color: #ff6600;
}
#header-content {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    height: 80px;
}
#logo {
    float: left;
    margin-top: 25px;
    width: 50px;
    height: 50px;
}
#header-nav {
    float: right;
    margin-bottom: 5px;
    list-style-type: none;
}
#header-nav li {
    display: inline-block;
}