* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*清除浮动*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

/*公用的部分*/
p {
    text-indent: 2em;
    font-size: 12px;
}

header {
    position: relative;
    width: 100%;
    height: 80px;
    font-size: 14px;
    background-color: #ff6600;
}
a {
    margin: 0 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}
.header-content {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    width: 100%;
    height: 80px;
}

.logo {
    float: left;
    margin-top: 20px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.header-nav {
    float: right;
    margin-top: 50px;
}

.header-nav li {
    display: inline-block;
    margin-left: 28px;
}

.github-icon {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 30px;
    height: 34px;
}

@media screen and (max-width: 980px) {
    .github-icon {
        display: none;
    }
}

.avatar {
    border-radius: 80px;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.avatar:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

footer {
    width: auto;
    height: 340px;
    background-color: #000000;
}

.footer-nav {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #333;
}

.relative-list {
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 980px;
}

.relative-ul {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    list-style-type: none;
    color: #ffffff;
}

.list-title {
    margin-bottom: 30px;
    color: #cccccc;
}

.copyright {
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #ffffff;
}

.footer-icon {
    display: block;
    text-align: center;
}

/*首页*/
.banner {
    position: relative;
    margin-top: 0;
    width: auto;
    height: 555px;
    background-image: url("../img/banner-bg.jpg");
    -webkit-background-size: 100% 555px;
    background-size: 100% 555px;
    background-repeat: no-repeat;
}

.banner-box {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #ffffff;
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0) 100%);
}

.banner-text {
    margin: 10px 10px 30px 10px;
}

.banner-text h3 {
    margin-bottom: 12px;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
}

.banner-text p {
    text-indent: 20px;
    color: #ffffff;
}

.blog-container {
    padding-bottom: 100px;
    background-color: #eeeeee;
}

.blog {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 980px;
    width: 100%;
}

.blog-list-content {
    float: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    margin-right: 5px;
    margin-top: 10px;
    width: 320px;
    background-color: #ffffff;
}

.blog-list-content p {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px;
    line-height: 170%;
}

.blog-list-content img {
    margin: 10px 10px 0 10px;
    width: 300px;
    height: 180px;
}

.intro-container {
    background-color: #ffffff;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    max-width: 980px;
    width: 100%;
}

.avatar {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -50px;
}

.intro-text {
    text-align: center;
}

.intro-text h2 {
    font-size: 20px;
    font-family: "Century Gothic", sans-serif;
    color: #000000;
}

.intro-text p {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 600px;
    font-size: 14px;
    color: #000000;
}

/*blog页面*/
.container {
    padding-bottom: 100px;
    width: auto;
    background-color: #dfdfdf;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.blog-wrap {
    background-color: #ffffff;
}

.left {
    float: left;
    width: 710px;
}

.right {
    float: right;
    width: 260px;
    /*width: 270px;*/
}

.blog-content {
    position: relative;
    margin: 10px 10px 10px 0;
}
.article {
    padding: 20px 20px 30px 20px;
}
.main-head {
    font-size: 16px;
    color: #8F42A4;
}

.sub-head {
    font-size: 12px;
    color: #666;
}
.article-info {
    text-align: right;
    margin-right: 20px;
    color: rgba(130, 130, 131, 0.7);
}
.blog-classify-time {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 50px;
    height: 80px;
    text-align: center;

}

.blog-time {
    display: block;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #3F1C4A;
}

.blog-classify {
    display: block;
    line-height: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #8F42A4;
}
.page-info {
    text-align: center;
}
.page-info li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.page-info a {
    text-align: center;
    font-size: 12px;
    color: #000000;
}
.cur-page {
    background-color: #8F42A4;
}
.cur-page a {
    color: #ffffff;
}
.search {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
.search-wrap {
    position: relative;
    margin: 0 auto;
}
.search-box {
    margin: 0;
    padding: 8px 0 8px 42px;
    border: solid 1px #cbcbcb;
    font-size: 14px;
    color: #cbcbcb;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
}
.search-box:focus {
    border: solid 2px #000000;
    color: #000000;
}
.search-box:focus+.search-button {
    border: solid 2px #000000;
}
.search-button {
    position: absolute;
    border: 0;
    width: 39px;
    height: 39px;
    font-size: 20px;
    background-color: #cbcbcb;
    color: #ffffff;
    cursor: pointer;
}
.classify {
    margin-top: 10px;
    margin-bottom: 10px;
}
.classify dl {
    padding: 10px 0 10px 10px;
    border-top: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
    border-left: solid 4px rgba(206, 175, 215, 0.81);
}
.classify a {
    font-size: 14px;
    color: #000000;
}
.classify .cur-classify {
    border-left-color: rgba(63, 28, 74, 0.81);
}
.classify dl:hover {
    border-left-color: rgba(63, 28, 74, 0.81);
}