* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
/*清除浮动*/
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}
.clearfix {
    zoom: 1;
}
/*公用的部分*/
p {
    font-size: 12px;
    text-indent: 2em;
}
header {
    font-size: 14px;
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #ff6600;
}
a {
    font-size: 14px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none;
}
.header-content {
    overflow: hidden;
    width: 100%;
    max-width: 980px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}
.logo {
    float: left;
    margin-top: 20px;
}
.logo img {
    width: 50px;
    height: 50px;
}
.header-nav {
    float: right;
    margin-top: 50px;
}
.header-nav li {
    display: inline-block;
    margin-left: 28px;
}
.github-icon {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 30px;
    height: 34px;
}
@media screen and (max-width: 980px) {
    .github-icon {
        display: none;
    }
}
.avatar {
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    border-radius: 80px;
}
.avatar:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
footer {
    width: auto;
    height: 340px;
    background-color: #000000;
}
.footer-nav {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: solid 1px #333333;
}
.relative-list {
    overflow: hidden;
    max-width: 980px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.relative-ul {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
    list-style-type: none;
    text-align: left;
    color: #ffffff;
}
.list-title {
    margin-bottom: 30px;
    color: #cccccc;
}
.copyright {
    font-size: 10px;
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}
.footer-icon {
    display: block;
    text-align: center;
}
/*首页*/
.banner {
    position: relative;
    width: auto;
    height: 555px;
    margin-top: 0;
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 555px;
}
.banner-box {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #ffffff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
}
.banner-text {
    margin: 10px 10px 30px 10px;
}
.banner-text h3 {
    font-size: 14px;
    margin-bottom: 12px;
    text-align: right;
    color: #ffffff;
}
.banner-text p {
    text-indent: 20px;
    color: #ffffff;
}
.blog-container {
    padding-bottom: 100px;
    background-color: #eeeeee;
}
.blog {
    overflow: hidden;
    width: 100%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.blog-list-content {
    float: left;
    width: 320px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color: #ffffff;
}
.blog-list-content p {
    line-height: 170%;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
}
.blog-list-content img {
    width: 300px;
    height: 180px;
    margin: 10px 10px 0 10px;
}
.intro-container {
    background-color: #ffffff;
}
.intro {
    width: 100%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
}
.avatar {
    position: relative;
    top: -50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.intro-text {
    text-align: center;
}
.intro-text h2 {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    color: #000000;
}
.intro-text p {
    font-size: 14px;
    max-width: 600px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
}
/*blog页面*/
.container {
    width: auto;
    padding-bottom: 100px;
    background-color: #dfdfdf;
}
.main-container {
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
}
.blog-wrap {
    background-color: #ffffff;
}
.left {
    float: left;
    width: 710px;
}
.right {
    float: right;
    width: 260px;
    /*width: 270px;*/
}
.blog-content {
    position: relative;
    margin: 10px 10px 10px 0;
}
.article {
    padding: 20px 20px 30px 20px;
}
.main-head {
    font-size: 16px;
    color: #8f42a4;
}
.sub-head {
    font-size: 12px;
    color: #666666;
}
.article-info {
    margin-right: 20px;
    text-align: right;
    color: rgba(130, 130, 131, 0.7);
}
.blog-classify-time {
    position: absolute;
    top: 20px;
    left: -50px;
    width: 50px;
    height: 80px;
    text-align: center;
}
.blog-time {
    line-height: 40px;
    display: block;
    height: 40px;
    color: #ffffff;
    background-color: #3f1c4a;
}
.blog-classify {
    line-height: 40px;
    display: block;
    height: 40px;
    color: #ffffff;
    background-color: #8f42a4;
}
.page-info {
    text-align: center;
}
.page-info li {
    display: inline-block;
    padding: 5px;
    text-align: center;
}
.page-info a {
    font-size: 12px;
    text-align: center;
    color: #000000;
}
.cur-page {
    background-color: #8f42a4;
}
.cur-page a {
    color: #ffffff;
}
.search {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
.search-wrap {
    position: relative;
    margin: 0 auto;
}
.search-box {
    font-size: 14px;
    margin: 0;
    padding: 8px 0 8px 42px;
    color: #cbcbcb;
    border: solid 1px #cbcbcb;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
}
.search-box:focus {
    color: #000000;
}
.search-button {
    font-size: 20px;
    position: absolute;
    width: 39px;
    height: 39px;
    cursor: pointer;
    color: #ffffff;
    border: 0;
    background-color: #cbcbcb;
}
.classify {
    margin-top: 10px;
    margin-bottom: 10px;
}
.classify dl {
    padding: 10px 0 10px 10px;
    border-top: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
    border-left: solid 4px rgba(206, 175, 215, 0.81);
}
.classify a {
    font-size: 14px;
    color: #000000;
}
.classify .cur-classify {
    border-left-color: rgba(63, 28, 74, 0.81);
}
.classify dl:hover {
    border-left-color: rgba(63, 28, 74, 0.81);
}
.blog-calendar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
.year-month a {
    display: inline-block;
    color: #602572;
}
.year-month span {
    font-size: 12px;
    color: #602572;
}
.year-month .year-left {
    float: left;
}
.year-month .year-right {
    float: right;
}
.blog-calendar table {
    font-size: 12px;
    margin: 0 auto;
    border-collapse: collapse;
    color: #828283;
}
.blog-calendar td {
    padding: 8px;
    border-bottom: solid 1px #828283;
}
.blog-calendar .cur-day span {
    padding: 3px;
    color: #ffffff;
    background-color: #602572;
}
.blog-calendar .tag-day {
    font-weight: bold;
    color: #602572;
}
.blog-tags li {
    display: inline-block;
    font-weight: bold;
    color: ;
}
